:root {
  --ydColor: black;
}
body {
  background: var(--ydColor);
}
.test {
  & h1 {
    color: yellowgreen;
  }
}

.qq {
  height: 200px;
}
a {
  all: initial;
}
nav :any-link > span {
  background-color: yellow;
}
/* input {
  background-color:red;
} */
input:blank {
  background-color: yellow;
}
textarea:blank {
  border: 3px solid red;
}
a {
  break-inside: avoid;
  break-before: avoid-column;
  break-after: always;
}
em {
  background-color: hsl(120deg 100% 25%);
  box-shadow: 0 0 0 10px hwb(120deg 100% 25% / 80%);
  color: rgb(0 255 0);
}

