<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock  %}</title>
    {% block head %}{% endblock  %}
</head>

<body>
    {% include "../../components/banner/banner.html" %}
   <div id="app">
    <div>
        {% block content %}{% endblock  %}
    </div>
   </div>
    <script src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
    <script crossorigin="anonymous" integrity="sha384-s9FgFS3wBp+4PO+tW068OQGy8nbd7TdRKxH7XLZdetjFCYG2BJ4n6Xe4IMfbRRkf" src="https://lib.baomitu.com/jquery.pjax/2.0.1/jquery.pjax.js"></script>
    <script>
        // pjax 相当于vue的router
        $(document).pjax("a","#app")
    </script>
    {% block scripts %}{% endblock  %}

</body>

</html>